LIVEAVATAR_API_KEY=your_liveavatar_api_key
ELEVENLABS_API_KEY=your_elevenlabs_api_key
ELEVENLABS_SECRET_ID=secret_id_from_liveavatar_secrets_endpoint
ELEVENLABS_AGENT_ID=agent_id_from_elevenlabs_dashboard
